{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agendamento para Candidatos{% endblock %}</title>

    {% bootstrap_css %}
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <nav>
        {% block navigation %}
        {% endblock %}
    </nav>

    {% bootstrap_messages %}

    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        {% endblock %}
    </footer>

    {% block additional_scripts %}
    {% endblock %}
</body>
</html>
