{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'autenticacao:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
{% endblock %}

{% block additional_scripts %}
{% bootstrap_javascript jquery='full' %}
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>-->
<!--    <script>-->
<!--        $(document).ready(function(){-->
<!--            $('#id_cpf').inputmask('999.999.999-99', { placeholder: '___.___.___-__' });-->
<!--        });-->
<!--    </script>-->
{% endblock %}

{% block footer %}
    <p>Ainda não tem uma conta? <a href="{% url 'autenticacao:registrar' %}" class="text-decoration-none">Registrar-se</a></p>
{% endblock %}

