{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}

{% block header %}
    <h1>Registrar nova conta</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'autenticacao:registrar' %}">
        {% csrf_token %}
        <div>
            <label for="id_nome">Nome Completo:</label>
            {{ form.nome }}
        </div>
        <div>
            <label for="id_cpf">CPF:</label>
            {{ form.cpf }}
        </div>
        <div>
            <label for="id_senha">Senha:</label>
            {{ form.senha }}
        </div>
        <div>
            <label for="id_senha_confirmacao">Confirmação de Senha:</label>
            {{ form.senha_confirmacao }}
        </div>
        <div>
            <label for="id_data_nascimento">Data de Nascimento:</label>
            {{ form.data_nascimento }}
        </div>
        <div>
            <label for="id_grupo_atendimento">Grupos de Atendimento:</label>
            {{ form.grupo_atendimento }}
        </div>
        <div>
            <label for="id_covid_30_dias">Teve Covid nos últimos 30 dias?</label>
            {{ form.covid_30_dias }}
        </div>
        <button type="submit">Registrar</button>
    </form>
{% endblock %}

{% block footer %}
    <p>Já tem uma conta? <a href="{% url 'autenticacao:login' %}">Entrar</a></p>
{% endblock %}
