{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Registrar{% endblock %}

{% block header %}
    <h1>Registrar nova conta</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'autenticacao:registrar' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
{% endblock %}

{% block footer %}
    <p>Já tem uma conta? <a href="{% url 'autenticacao:login' %}" class="text-decoration-none">Entrar</a></p>
{% endblock %}

{% block additional_scripts %}
{% bootstrap_javascript jquery='full' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#id_cpf').inputmask('999.999.999-99', { placeholder: '___.___.___-__' });
        });
    </script>
{% endblock %}
